<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>Map of tracks</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style>
</head>
<body>
<div id='map'></div>

<script>
L.mapbox.accessToken = 'abcdef';
var map = L.mapbox.map('map', 'mapbox.streets')
  .setView([48.84664340683584, 2.3263549804687496], 12);
var lines = [];
</script>
<script src="socket.io.js"></script>
<script src="app.js"></script>
</body>
</html>
